body {
  background: linear-gradient(
    90deg,
    hsla(34, 57%, 70%, 1) 16%,
    hsla(0, 0%, 100%, 1) 100%
  );
}

h1,
h3 {
  text-align: center;
  color: black;
  font-family: "Montserrat", sans-serif;
}

footer a {
  margin: 0 10px;
  color: black;
}

links {
  display: inline-block;
  color: black;
}
img {
  margin: auto;
  padding: auto;
}
