body {
  background: linear-gradient(
    90deg,
    hsla(34, 57%, 70%, 1) 16%,
    hsla(0, 0%, 100%, 1) 100%
  );
}

h1,
h3 {
  text-align: center;
  color: black;
  font-family: "Montserrat", sans-serif;
}

footer a {
  margin: 0 10px;
  color: black;
}

footer {
  text-align: center;
}

links {
  display: inline-block;
  color: black;
}
img {
  margin: auto;
  padding: auto;
  text-align: center;
}

.email-link {
  text-align: center;
  color: black;
}

.croissant-photo {
  max-width: 30%;
  border-radius: 10px;
  display: block;
  margin: 30px auto;
}
p {
  text-align: center;
}
